

.card {
    box-shadow: 0 2px 5px rgba(104,152,107,.2);
    @apply rounded-2xl p-3 sm:p-6 pe-12 relative cursor-pointer
}
.card p {
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.card button {
    transition: all .2s ease-in-out;
    @apply absolute right-4 top-6 text-2xl
}
.toClose {
    transform: rotate(-45deg);
}