@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
 * {
  font-weight: 600;
 }

 body {
  @apply bg-[#ffe]
 }
.nelly-btn {
  border-radius: .875rem;
  box-shadow: 0 4px 16px rgba(47,64,46,.15);
  padding: .75rem 1rem;
  @apply block bg-[#ffff9e] text-center hover:bg-[#ff7]
}
.nelly-btn-flex {
  border-radius: .875rem;
  box-shadow: 0 4px 16px rgba(47,64,46,.15);
  padding: .75rem 1rem;
  @apply flex bg-[#ffff9e] text-center hover:bg-[#ff7] gap-4 items-center
}


.header-collapsed {
  transform: translateY(-20vh);
}
.current-language {
  @apply bg-[#67986B] text-white font-bold
}